* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

body {
  background-color: #ffe190;
  font-family: "Pangolin", cursive;
  font-size: 20px;
  color: #e50021;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header img {
  display: block;
  width: 1.2em;
  height: 1.2em;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header img {
    display: inline-block;
  }
}

.header h1 {
  font-size: 3em;
  text-align: center;
}

.nav {
  background-color: #e50021;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  min-height: 2em;
}

.nav a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav a:hover {
  color: rgb(213, 255, 60);
}

.menu {
  background-color: #fff;
  color: #e50021;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.product {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product article {
  margin: 1em;
}

.product img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  background-color: #e5b000;
  box-shadow: 0 0 5px #e50021;
}

.about {
  background-color: rgb(241, 250, 160);
  padding-top: 1em;
  padding-bottom: 1em;
}

.about h2,
.about h3,
.contact h2 {
  text-align: center;
}

.about p {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 1em;
  padding: 1em;
}

.about .map {
  margin-top: 1em;
  width: 100%;
  height: 400px;
}

.contact {
  background-color: #374c5a;
  color: #ffffff;
  padding: 1em;
}

.group-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.group-form label,
.group-form button {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.group-form input,
.group-form textarea,
.group-form button {
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  min-width: 280px;
  padding: 0.5em;
}

.group-form button {
  width: 50%;
  background-color: rgb(191, 200, 231);
  cursor: pointer;
  border-radius: 0.3em;
}

.group-form button:hover {
  filter: opacity(0.8);
}

.group-form button:active {
  background: #0051ff;
  color: #fff;
  filter: opacity(0.8);
}

.contact textarea {
  resize: none;
  width: 100%;
  min-width: 280px;
}

.up-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 10%;
  right: 1em;
  opacity: 0.5;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #212225;
  transition: color 0.5s;
}

.up-arrow:hover {
  border-bottom-color: #ccc3c3;
  opacity: 1;
}
